<!DOCTYPE html>
<html>

<head>
    <title>Enter courses</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <center>
        <h2>Enter courses</h2>
        <form id="courseForm" action="/submit" method="POST">
            <div class="courseField" id="courseFields">
                <!-- New text fields will appear here -->
            </div>
            <div class="button_container">
                <button type="button" id="addcourse">Add Course</button>
                <button type="submit" id="Submit">Submit</button>
            </div>

        </form>
    </center>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
