<!DOCTYPE html>
<html>

<head>
    <title>Enter courses</title>
    <!-- Update the path to your CSS file using Flask's 'url_for' function -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/staticstyle.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
</head>

<body>
    <center>
        <h2>Enter courses</h2>
        <form id="courseForm">
            <div class="courseField" id="courseFields">
                <!-- New text fields will appear here -->
            </div>
            <!-- the id is linked to the script that allows for more course fields to be added-->
            <div>
                <div class="button_container">
                    <button type="button" id="addcourse">Add Course</button>
                    <input type="submit" value="Submit">
                </div>
                <div id="courseList">
                    <!-- courses will be displayed here -->
                </div>
            </div>
        </form>
        <!-- Update the path to your JavaScript file using Flask's 'url_for' function -->
        <script src="{{ url_for('static', filename='/static/script.js') }}"></script>
    </center>
</body>

</html>
