<!DOCTYPE html>
<html>

<head>
    <title>Enter courses</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='/script.js') }}"></script>
    
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>

</head>

<body>
    <center>
        <h2>Enter courses</h2>
        <form id="courseForm" >
            <div class="courseField" id="courseFields">
                <!-- New text fields will appear here -->
            </div>
            <!-- the id is linked to the script that allows for more course fields to be added-->
            <div>
                <div class="button_container">
                        <button type="button" id="addcourse">Add Course</button>
                        <input type="submit" value="Submit">
                </div>
                    <div id="courseList">
                        <!-- courses will be displayed here -->
                    </div>
            </div
        </form>
        <script src="static/script.js"></script>
    </center>
</body>

</html>
