input[type=nameList], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 8px ;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/* Apply styles to the name field container */
.nameField {
    width:50%; /* Set the width to 100% to match the container width */
    margin-bottom: 10px;
}

/* Style the text input for the name and the whole rectangular field */
.nameField input[type="text"] {
    width: 75%; /* Set the width to 100% to match the container width */
    padding: 10px 10px;
    /* creates some space between each of the buttons */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
}

/* Text with in the buttons*/
button, input[type=submit] {
    width: 110%;
    background-color: #6D213C;
    color: white;
    padding: 5px 5px;
    margin: 0px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button, input[type=submit]:hover {
    background-color: #6D213C;
}


div {
    border-radius: 5px;
    background-color: #d7d6d6;
    padding: 20px;
    width: 50%;
    align-self: center;
}

/* makes the button land on the same line */
.button_container{
    display: flex;
    gap: 20px;
}

